@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* Gaya untuk layar loading */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Animasi loading */
.loader {
    border: 16px solid #f3f3f3;
    /* Warna background lingkaran */
    border-top: 16px solid rgba(39, 144, 201);
    /* Warna lingkaran animasi */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Keyframes untuk animasi */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    font-family: "Comfortaa", serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(39, 144, 201), rgb(0, 69, 106));
    overflow-x: hidden;
}

/* NAVIGATION PANEL */
.navbar {
    width: 100%;
    margin: auto;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(14, 35, 54, 0.9);
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 50;
}

.logo {
    margin-left: 3%;
    width: 60px;
    height: 60px;
    cursor: normal;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 4px;
    color: black;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}

.navbar .links {
    margin-right: 3%;
    align-content: center;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: lightblue;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.navbar ul li:hover:after {
    width: 100%;
}

.navbar ul li a {
    margin-right: 0;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.navbar .toggle-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    align-content: center;
}

.toggle-button {
    margin-right: 5%;
}

/* DROPDOWN MENU */
.dropdown-menu {
    position: absolute;
    right: 2rem;
    top: 75px;
    height: 0px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 51;
}

.dropdown-menu.open {
    height: 130px;
    padding: 10px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* DESCRIPION BOX */
.box {
    color:#fff;
    background-color: rgb(82, 82, 82);
    backdrop-filter: blur(15px);
    padding: 40px 40px;
}

.title {
    display:flex;
    justify-content: first baseline;
    align-items: center;
    flex-wrap: wrap;
}

.title h1 {
    width: 100vw;
    font-size: 50px;
}

.thumbnail {
    margin-top: 2%;
    width: 60vw;
    height: 60vh;
    aspect-ratio: 16/9;
}

/* CATEGORY */
.type {
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    margin: 5px;
}

.games {
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    margin: 5px;
}

.addon-version {
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    margin: 5px;
}

.game-version {
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    margin: 5px;
}

/* Info Container */
.info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.info-container h1 {
    font-size: 1.9rem;
}

.info-container button {
    font-size: 1.5rem;
    flex-grow: 1;
    border-radius: 1rem;
    cursor: pointer;
    border: 0px;
    margin: 1rem;
}

.flex-button {
    display: flex;
    flex-direction: row;
    flex-grow: 10;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.weapon {
    background:orange;
    box-shadow: 0px 0px 4px 4px orange;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* MEDIA QUERIES */
@media(max-width: 992px){
    .navbar .links {
        display: none;
    }

    .navbar .toggle-button {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media(max-width: 475px){
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }

    .thumbnail {
        width: 320px;
        height: 180px;
        aspect-ratio: 16/9;
    }
}