@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

/* Gaya untuk layar loading */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Animasi loading */
.loader {
    border: 16px solid #f3f3f3;
    /* Warna background lingkaran */
    border-top: 16px solid rgba(39, 144, 201);
    /* Warna lingkaran animasi */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Keyframes untuk animasi */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    font-family: "Comfortaa", serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(39, 144, 201), rgb(0, 69, 106));
    overflow-x: hidden;
}

/* NAVIGATION PANEL */
.navbar {
    width: 100%;
    margin: auto;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(14, 35, 54, 0.9);
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 50;
}

.logo {
    margin-left: 3%;
    width: 60px;
    height: 60px;
    cursor: normal;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 4px;
    color: black;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}

.navbar .links {
    margin-right: 3%;
    align-content: center;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: lightblue;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.navbar ul li:hover:after {
    width: 100%;
}

.navbar ul li a {
    margin-right: 0;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.navbar .toggle-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    align-content: center;
}

.toggle-button {
    margin-right: 5%;
}

/* DROPDOWN MENU */
.dropdown-menu {
    position: absolute;
    right: 2rem;
    top: 75px;
    height: 0px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 51;
}

.dropdown-menu.open {
    height: 130px;
    padding: 10px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* CONTENT */
.container {
    margin: 2rem;   
}

.container .titleRoot {
    text-align: center;
    color: #fff
}

.container p {
    text-align: center;
    color: #fff
}

.grid-container {
    background: rgba(14, 35, 54, 0.5);
    border-radius: 10px;
    color: white;
    padding: 30px 30px;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    backdrop-filter: blur(7px);
}

.grid { 
    max-width: 100%;
    max-height: fit-content;
    background: rgba(245, 241, 7, 0.8);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.grid a {
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 32px;
    text-decoration: none;
    font-weight: bold;
}

.description p {
    color: black;
    text-align: justify;
}

.thumbnail {
    width: 286px;
    height: 167px;
    aspect-ratio: 16/9;
}

/* Buttons */
.view-button {
    background-color: rgba(34, 144, 201, 0.7);
    font-family: "Montserrat", serif;
    font-size: 1rem;
    margin-top: 1rem;
    width: 40%;
    color: #fff;
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.view-button:hover {
    background-color: rgb(255, 208, 0);
    color: #000;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px rgb(255, 208, 0);
}

/* MEDIA QUERIES */
@media(max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle-button {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media(max-width: 470px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .dropdown-menu {
        left: 2rem;
        width: unset;
    }

    .logo {
        max-width: 64px;
        max-height: 64px;
        margin-left: 5%;
    }
}